:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-font-color: #757575;
  --secondary-font-color: #212121;
  --accent-color: #2196f3;
  --contrasting-color: #ffffff;
  --icon-color: #afb1b8;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ol,
ul {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  overflow-wrap: break-word;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  color: var(--primary-font-color);
  font-family: var(--primary-font);
  font-size: 14px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__studio {
  color: var(--secondary-font-color);
}

.title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__description {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}

.modal-form__input-wrapper {
  position: relative;
  display: block;
}

.modal-form__input-desc {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.modal-form__icon {
  position: absolute;
  top: 40%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--transition-dur-and-func);
}
.modal-form__input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.modal-form__user-message {
  width: 100%;
  height: 120px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border var(--transition-dur-and-func);
}
.modal-form__user-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__user-message:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.modal-form__submit {
  min-width: 200px;
  align-self: center;
  padding: 10px 55px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--contrasting-color);
  background-color: var(--accent-color);
  transition: box-shadow var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}
.modal-form__submit:hover, .modal-form__submit:focus {
  background: #188ce8;
}

.modal-form__check-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.modal-form__check:checked + .modal-form__check-desc {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.modal-form__check-desc::before {
  content: "";
  display: block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  background-color: var(--contrasting-color);
  border: 2px solid var(--secondary-font-color);
  border-radius: 2px;
  cursor: pointer;
}
.modal-form__check:checked + .modal-form__check-desc::before {
  background-color: var(--accent-color);
  background-image: url("../images/vector.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  border-color: var(--accent-color);
  border-radius: 2px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background-color: var(--contrasting-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: box-shadow var(--transition-dur-and-func), transform var(--transition-dur-and-func);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: border-color var(--transition-dur-and-func);
}

.modal__close-btn-icon {
  transition: fill var(--transition-dur-and-func);
}
.modal__close-btn:hover .modal__close-btn-icon, .modal__close-btn:focus .modal__close-btn-icon {
  fill: var(--accent-color);
}

.terms {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.menu__link.menu__link--current {
  position: relative;
  color: var(--accent-color);
}

.menu__link--current::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.page-header {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu__link {
  padding: 32px 0;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
  transition: color var(--transition-dur-and-func);
}
.menu__link:focus, .menu__link:hover {
  color: var(--accent-color);
}

.menu {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
}

.menu__item:not(:first-child) {
  padding-left: 50px;
}

.contact {
  display: flex;
  margin-left: auto;
}

.icon-smartphone {
  fill: currentColor;
  margin-right: 10px;
}

.icon-envelope {
  fill: currentColor;
  margin-right: 10px;
}

.contact-list__mail {
  display: flex;
  align-items: center;
  padding: 32px 0;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: inherit;
  transition: color var(--transition-dur-and-func);
}
.contact-list__mail:hover, .contact-list__mail:focus {
  color: var(--accent-color);
}

.contact-list__phone-number {
  display: flex;
  align-items: center;
  padding: 32px 0;
  padding-left: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: inherit;
  transition: color var(--transition-dur-and-func);
}
.contact-list__phone-number:hover, .contact-list__phone-number:focus {
  color: var(--accent-color);
}

.hero {
  margin: auto;
  max-width: 1600px;
  min-height: 600px;
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg.jpg");
  background-size: cover;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
}

.container-hero {
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--contrasting-color);
}

.modal-btn {
  padding: 10px 32px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--contrasting-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: background var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}
.modal-btn:hover, .modal-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.about {
  padding: 94px 0;
  background: var(--contrasting-color);
}

.about__menu {
  display: flex;
  gap: 30px;
}

.advantage__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-font-color);
}

.advantage__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.advantage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.work {
  padding-bottom: 94px;
  background: var(--contrasting-color);
}

.work__menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.work__description {
  padding: 27px 0;
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--contrasting-color);
}

.work__wrapper-description {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.work__wrapper {
  position: relative;
}

.team {
  padding: 94px 0;
  background: #f5f4fa;
}

.team__menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.team__card {
  background-color: var(--contrasting-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__box {
  padding: 30px 0;
}

.team__name {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}

.team__function {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}

.social__menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.social__list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--contrasting-color);
  transition: background-color var(--transition-dur-and-func);
}
.social__list-link:hover, .social__list-link:focus {
  background-color: var(--accent-color);
}

.social__list-icon {
  fill: var(--icon-color);
  transition: fill var(--transition-dur-and-func);
}
.social__list-link:hover .social__list-icon, .social__list-link:focus .social__list-icon {
  fill: var(--contrasting-color);
}

.clients {
  padding: 94px 0;
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.client-brand__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  background-color: var(--contrasting-color);
  transition: background-color var(--transition-dur-and-func), border var(--transition-dur-and-func);
}
.client-brand__link:hover, .client-brand__link:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.client-brand__icon {
  fill: var(--icon-color);
  transition: fill var(--transition-dur-and-func);
}
.client-brand__link:hover .client-brand__icon, .client-brand__link:focus .client-brand__icon {
  fill: var(--accent-color);
}

.contacts {
  max-width: 1600px;
  margin: auto;
  background: #2f303a;
}

.contacts-footer__logo {
  margin-top: 60px;
  margin-bottom: 20px;
}

.logo__studio--white {
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--contrasting-color);
}

.contacts-footer__list {
  margin-right: 70px;
  margin-bottom: 60px;
}

.contacts-footer__address {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--contrasting-color);
  transition: color var(--transition-dur-and-func);
}
.contacts-footer__address:hover, .contacts-footer__address:focus {
  color: var(--accent-color);
}

.contacts-footer__mail {
  padding-top: 9px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  font-style: normal;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-dur-and-func);
}
.contacts-footer__mail:hover, .contacts-footer__mail:focus {
  color: var(--accent-color);
}

.contacts-footer__phone {
  padding-top: 9px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  font-style: normal;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-dur-and-func);
}
.contacts-footer__phone:hover, .contacts-footer__phone:focus {
  color: var(--accent-color);
}

.social-footer__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--contrasting-color);
}

.social-footer__list {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.social-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-and-func);
}
.social-footer__link:hover, .social-footer__link:focus {
  background-color: var(--accent-color);
}

.social-footer__icon {
  fill: var(--contrasting-color);
  transition: fill var(--transition-dur-and-func);
}
.social-footer__link:hover .social-footer__icon, .social-footer__link:focus .social-footer__icon {
  fill: var(--contrasting-color);
}

.social-footer {
  margin-top: 72px;
}

.container.contacts-footer {
  display: flex;
}

.subscription-form {
  margin-top: 72px;
  margin-left: 93px;
  display: flex;
  flex-direction: column;
}

.subscription-form__input-box {
  display: flex;
}

.subscription-form__title {
  margin-bottom: 20px;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--contrasting-color);
}

.subscription-form__input {
  margin-right: 12px;
  width: 360px;
  height: 50px;
  padding-left: 16px;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--contrasting-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border var(--transition-dur-and-func);
}
.subscription-form__input:focus {
  outline: none;
  border: 1px solid #188ce8;
}
.subscription-form__input::placeholder {
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-form__btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  min-width: 200px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  color: var(--contrasting-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transform: background var(--transition-dur-and-func);
}
.subscription-form__btn:hover, .subscription-form__btn:focus {
  background-color: #188ce8;
}

.page-header--border {
  border: 1px solid #eeeeee;
}

.portfolio {
  padding: 94px 0;
}

.filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter__button.filter__button--current {
  background-color: var(--accent-color);
  color: var(--contrasting-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter__list:not(:first-child) {
  margin-left: 8px;
}

.filter__button {
  padding: 6px 22px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--secondary-font-color);
  border: 0;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}
.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  color: var(--contrasting-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.project__card {
  background: var(--contrasting-color);
  box-shadow: 0;
  transition: box-shadow var(--transition-dur-and-func);
}
.project__card:hover, .project__card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.project {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.project__title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.7777777778;
  letter-spacing: 0.06em;
  color: var(--secondary-font-color);
}

.project__box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project__specialty {
  font-family: var(--primary-font);
  color: var(--primary-font-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.project__wrapper {
  position: relative;
  overflow: hidden;
}

.project__description {
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--contrasting-color);
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 24px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  transition: transform var(--transition-dur-and-func);
  background: rgba(33, 150, 243, 0.9);
}
.project__card-link:hover .project__description, .project__card-link:focus .project__description {
  transform: translate(0, 0);
}/*# sourceMappingURL=main.css.map */