:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-font-color: #757575;
    --secondary-font-color: #212121;
    --accent-color: #2196f3;
    --contrasting-color: #ffffff;
    --icon-color: #afb1b8;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
html,
body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
ol,
ul {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
}
button {
    cursor: pointer;
    border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    overflow-wrap: break-word;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    color: var(--primary-font-color);
    font-family: var(--primary-font);
    font-size: 14px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
/* =========HEADER========== */

.link.current {
    position: relative;
    color: var(--accent-color);
}
.link.current::after {
    position: absolute;
    content: '';
    display: block;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
}
.page-header-container {
    display: flex;
    align-items: center;
}
.page-nav {
    display: flex;
    align-items: center;
}
.logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;
    font-family: var(--contrasting-color);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.logo-studio {
    color: var(--secondary-font-color);
}
.menu-link {
    padding: 32px 0;
    display: block;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--secondary-font-color);

    transition: color var(--transition-dur-and-func);
}
.menu.list {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 0.02em;
    color: var(--secondary-font-color);
}

.menu-item + .menu-item {
    padding-left: 50px;
}
.menu-link:focus,
.menu-link:hover {
    color: var(--accent-color);
}
/* =========/HEADER========== */
/* =========CONTACTS========== */
.contact.list {
    display: flex;
    margin-left: auto;
}
.icon-smartphone {
    fill: currentColor;
    margin-right: 10px;
}
.icon-envelope {
    fill: currentColor;
    margin-right: 10px;
}
.contact-mail {
    display: flex;
    align-items: center;
    padding: 32px 0;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 0.02em;
    color: inherit;

    transition: color var(--transition-dur-and-func);
}
.contact-mail:hover,
.contact-mail:focus {
    color: var(--accent-color);
}

.contact-phone-number {
    display: flex;
    align-items: center;
    padding: 32px 0;
    padding-left: 50px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 0.02em;
    color: inherit;

    transition: color var(--transition-dur-and-func);
}
.contact-phone-number:hover,
.contact-phone-number:focus {
    color: var(--accent-color);
}
/* =========/CONTACTS========== */
/* =========HERO========== */
.hero {
    margin: auto;
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url('../images/hero/bg.jpg');
    background-size: cover;
    background-color: #c4c4c4;
    background-repeat: no-repeat;
    background-position: center;
}
.container-hero {
    text-align: center;
}
.hero-title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    color: var(--contrasting-color);
}
.modal-btn {
    padding: 10px 32px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--contrasting-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    transition: background var(--transition-dur-and-func),
        box-shadow var(--transition-dur-and-func);
}
.modal-btn:hover,
.modal-btn :focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
/* =========/HERO========== */
/* =========ABOUT========== */
.about {
    padding: 94px 0;
    background: var(--contrasting-color);
}
.about-menu {
    display: flex;
    gap: 30px;
}

.about-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-font-color);
}
.about-advantage {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.icon-advantage-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
}
/* =========/ABOUT========== */
/* =========WORK========== */
.work {
    padding-bottom: 94px;
    background: var(--contrasting-color);
}
.work-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-font-color);
}
.work-description {
    padding: 27px 0;
    font-family: var(--primary-font);
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--contrasting-color);
}
.work-wrraper-description {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}
.work-wrraper {
    position: relative;
}
/* =========/WORK========== */
/* =========CLIENTS========= */
.clients-container {
    padding: 94px 0;
}
.clients-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.client-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    background-color: var(--contrasting-color);

    transition: background-color var(--transition-dur-and-func),
        border var(--transition-dur-and-func);
}
.client-list-icon {
    fill: var(--icon-color);

    transition: fill var(--transition-dur-and-func);
}
.client-list-link:hover .client-list-icon,
.client-list-link:focus .client-list-icon {
    fill: var(--accent-color);
}
.client-list-link:hover,
.client-list-link:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}

/* =========/CLIENTS========= */

/* =========TEAM========== */
.team {
    padding: 94px 0;
    background: #f5f4fa;
}
.team-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.team-card {
    background-color: var(--contrasting-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-box {
    padding: 30px 0;
}
.team-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-font-color);
}
.team-speciality {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--contrasting-color);

    transition: background-color var(--transition-dur-and-func);
}
.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--accent-color);
}
.social-list-icon {
    fill: var(--icon-color);

    transition: fill var(--transition-dur-and-func);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
    fill: var(--contrasting-color);
}
.social-list-link.current {
    background-color: var(--accent-color);
}
/* =========/TEAM========== */
/* =========FOOTER========== */
.contacts {
    max-width: 1600px;
    margin: auto;
    background: #2f303a;
}
.footer-list {
    margin-right: 70px;
    margin-bottom: 60px;
}
.logo-footer {
    margin-top: 60px;
    margin-bottom: 20px;
}
.logo-footer-link {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.logo-studio-footer {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--contrasting-color);
}

.contact-address {
    font-weight: 400;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contrasting-color);

    transition: color var(--transition-dur-and-func);
}
.contact-address:hover,
.contact-address:focus {
    color: var(--accent-color);
}
.contact-mail-secondary {
    padding-top: 9px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition: color var(--transition-dur-and-func);
}
.contact-mail-secondary:hover,
.contact-mail-secondary:focus {
    color: var(--accent-color);
}
.contact-phone-number-secondary {
    padding-top: 9px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition: color var(--transition-dur-and-func);
}
.contact-phone-number-secondary:hover,
.contact-phone-number-secondary:focus {
    color: var(--accent-color);
}
.social-title-footer {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--contrasting-color);
}

.social-list-footer {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.social-list-link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color var(--transition-dur-and-func);
}
.social-list-link-footer:hover,
.social-list-link-footer:focus {
    background-color: var(--accent-color);
}
.social-list-icon-footer {
    fill: var(--contrasting-color);

    transition: fill var(--transition-dur-and-func);
}
.social-list-link-footer:hover .social-list-icon-footer,
.social-list-link-footer:focus .social-list-icon-footer {
    fill: var(--contrasting-color);
}
.social-links-footer {
    margin-top: 72px;
}
.container.footer-link {
    display: flex;
}
.subscription-form {
    margin-top: 72px;
    margin-left: 93px;
    display: flex;
    flex-direction: column;
}
.subscription-input-box {
    display: flex;
}
.subscription-title-form {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--contrasting-color);
}
.subscription-input-form {
    margin-right: 12px;
    width: 360px;
    height: 50px;
    padding-left: 16px;
    letter-spacing: 0.03em;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--contrasting-color);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    transition: border var(--transition-dur-and-func);
}
.subscription-input-form:focus {
    outline: none;
    border: 1px solid #188ce8;
}
.subscription-input-form::placeholder {
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);
}
.subscription-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 28px;
    min-width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    color: var(--contrasting-color);

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transform: background var(--transition-dur-and-func);
}
.subscription-btn:hover,
.subscription-btn:focus {
    background-color: #188ce8;
}
/* =========/FOOTER========== */
/* ==================== MODAL WINDOW ==================== */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--transition-dur-and-func),
        visibility var(--transition-dur-and-func);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.7);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    min-height: 581px;
    background-color: var(--contrasting-color);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: box-shadow var(--transition-dur-and-func),
        transform var(--transition-dur-and-func);
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: border-color var(--transition-dur-and-func);
}

.modal-close-btn-icon {
    transition: fill var(--transition-dur-and-func);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: var(--accent-color);
}
.modal-form {
    display: flex;
    flex-direction: column;
}
.modal-description {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-font-color);
}
.modal-form-input-wrapper {
    position: relative;
    display: block;
}
.modal-form-input-desc {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}
.modal-form-icon {
    position: absolute;
    top: 40%;
    left: 12px;
    transform: translateY(-50%);
    display: block;
}

.modal-form-input {
    padding-left: 42px;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 16px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border var(--transition-dur-and-func);
}
.modal-form-input:focus + .modal-form-icon {
    fill: var(--accent-color);
}
.modal-form-input:focus {
    outline: none;
    border: 1px solid var(--accent-color);
}
.user-message-form {
    width: 100%;
    height: 120px;
    font-size: 16px;
}
.user-message-form::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}
.user-message-form {
    padding: 12px 16px;
    margin-bottom: 20px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    transition: border var(--transition-dur-and-func);
}
.user-message-form:focus {
    outline: none;
    border: 1px solid var(--accent-color);
}
.modal-form-submit {
    min-width: 200px;
    align-self: center;
    padding: 10px 55px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    color: var(--contrasting-color);
    background-color: var(--accent-color);

    transition: box-shadow var(--transition-dur-and-func),
        background-color var(--transition-dur-and-func);
}
.modal-form-submit:hover,
.modal-form-submit:focus {
    background: #188ce8;
}
.modal-form-check-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.modal-form-check:checked + .modal-form-check-desc {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.modal-form-check-desc::before {
    display: block;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    background-color: var(--contrasting-color);
    border: 2px solid var(--secondary-font-color);
    border-radius: 2px;
    content: '';
    cursor: pointer;
}

.modal-form-check:checked + .modal-form-check-desc::before {
    background-color: var(--accent-color);
    background-image: url('../images/vector.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    border-color: var(--accent-color);
    border-radius: 2px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.terms {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
/* ==================== /MODAL WINDOW ==================== */
/* =========PORTFOLIO========== */

.page-header-portfolio {
    border: 1px solid #eeeeee;
}
.portfolio {
    padding: 94px 0;
}
.filter-menu {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.filter-button.current {
    background-color: var(--accent-color);
    color: var(--contrasting-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.filter-list + .filter-list {
    margin-left: 8px;
}
.filter-button {
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    background-color: #f5f4fa;
    color: var(--secondary-font-color);
    border: 0;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;

    transition: background-color var(--transition-dur-and-func),
        color var(--transition-dur-and-func),
        box-shadow var(--transition-dur-and-func);
}
.filter-button:hover,
.filter-button:focus {
    background-color: var(--accent-color);
    color: var(--contrasting-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.project-card {
    background: var(--contrasting-color);
    box-shadow: 0;

    transition: box-shadow var(--transition-dur-and-func);
}
.project-card:hover,
.project-card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.projects-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.project-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-font-color);
}
.project-box {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
}
.project-specality {
    font-family: var(--primary-font);
    color: var(--primary-font-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
.project-wrraper {
    position: relative;
    overflow: hidden;
}

.project-description {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--contrasting-color);

    position: absolute;
    left: 0;
    top: 0;
    padding: 0 24px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    transition: transform var(--transition-dur-and-func);
    background: rgba(33, 150, 243, 0.9);
}
.project-card-link:hover .project-description,
.project-card-link:focus .project-description {
    transform: translate(0, 0);
}

/* =========/PORTFOLIO========== */
