.about {
    padding: 94px 0;
    background: var(--contrasting-color);
}
.about__menu {
    display: flex;
    gap: 30px;
}

.advantage__title {
    margin-top: 30px;
    margin-bottom: 10px;
    @include font(14px, 700, 16px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-font-color);
}
.advantage__desc {
    @include font(14px, 400, 24px);
    letter-spacing: 0.03em;
}
.advantage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
}
