.menu__link.menu__link--current {
    position: relative;
    color: var(--accent-color);
}
.menu__link--current::after {
    position: absolute;
    content: '';
    display: block;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
}
.page-header {
    display: flex;
    align-items: center;
}
.page-nav {
    display: flex;
    align-items: center;
}

.menu__link {
    padding: 32px 0;
    display: block;
    @include font(14px, 500, 16px);
    letter-spacing: 0.02em;

    color: var(--secondary-font-color);

    transition: color var(--transition-dur-and-func);

    &:focus,
    &:hover {
        color: var(--accent-color);
    }
}
.menu {
    display: flex;
    align-items: center;
    @include font(14px, 500, 16px);
    letter-spacing: 0.02em;
    color: var(--secondary-font-color);
}

.menu__item:not(:first-child) {
    padding-left: 50px;
}

.contact {
    display: flex;
    margin-left: auto;
}
.icon-smartphone {
    fill: currentColor;
    margin-right: 10px;
}
.icon-envelope {
    fill: currentColor;
    margin-right: 10px;
}
.contact-list__mail {
    display: flex;
    align-items: center;
    padding: 32px 0;
    font-family: inherit;
    @include font(14px, 500, 16px);
    letter-spacing: 0.02em;
    color: inherit;

    transition: color var(--transition-dur-and-func);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contact-list__phone-number {
    display: flex;
    align-items: center;
    padding: 32px 0;
    padding-left: 50px;
    @include font(14px, 500, 16px);
    letter-spacing: 0.02em;
    color: inherit;

    transition: color var(--transition-dur-and-func);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
