.page-header.page-header--border {
    border: 1px solid #eeeeee;
}
.portfolio {
    padding: 94px 0;
}
.filter {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.filter__button.filter__button--current {
    background-color: var(--accent-color);
    color: var(--contrasting-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.filter__list:not(:first-child) {
    margin-left: 8px;
}
.filter__button {
    padding: 6px 22px;
    font-family: inherit;
    @include font(16px, 500, 26px);
    letter-spacing: 0.03em;
    background-color: #f5f4fa;
    color: var(--secondary-font-color);
    border: 0;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;

    transition: background-color var(--transition-dur-and-func),
        color var(--transition-dur-and-func),
        box-shadow var(--transition-dur-and-func);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--contrasting-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }
}

.project__card {
    background: var(--contrasting-color);
    box-shadow: 0;
    transition: box-shadow var(--transition-dur-and-func);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        cursor: pointer;
    }
}

.project {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.project__title {
    margin-bottom: 4px;
    @include font(18px, 700, 32px);
    letter-spacing: 0.06em;
    color: var(--secondary-font-color);
}
.project__box {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
}
.project__specialty {
    font-family: var(--primary-font);
    color: var(--primary-font-color);
    @include font(16px, 400, 30px);
    letter-spacing: 0.03em;
}
.project__wrapper {
    position: relative;
    overflow: hidden;
}

.project__description {
    font-family: var(--primary-font);
    @include font(18px, 400, 36px);
    letter-spacing: 0.03em;

    color: var(--contrasting-color);

    position: absolute;
    left: 0;
    top: 0;
    padding: 0 24px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    transition: transform var(--transition-dur-and-func);
    background: rgba(33, 150, 243, 0.9);

    .project__card-link:hover &,
    .project__card-link:focus & {
        transform: translate(0, 0);
    }
}
