.team {
    padding: 94px 0;
    background: #f5f4fa;
}
.team-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.team-card {
    background-color: var(--contrasting-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-box {
    padding: 30px 0;
}
.team-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-font-color);
}
.team-speciality {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--contrasting-color);

    transition: background-color var(--transition-dur-and-func);
}
.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--accent-color);
}
.social-list-icon {
    fill: var(--icon-color);

    transition: fill var(--transition-dur-and-func);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
    fill: var(--contrasting-color);
}
.social-list-link.current {
    background-color: var(--accent-color);
}
