.work {
    padding-bottom: 94px;
    background: var(--contrasting-color);
}
.work__menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.work__description {
    padding: 27px 0;
    font-family: var(--primary-font);
    @include font(14px, 700, 16px);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--contrasting-color);
}
.work__wrapper-description {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}
.work__wrapper {
    position: relative;
}
